<section class="py-8 ">
  <div class="container xl:w-[95%]">

    <h2 class="text-2xl text-center text-purple-600 font-medium ">{{"Caregories"|translate}}</h2>
<div class="parent mt-6 grid gap-3  sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5">
@for(category of categoriesList(); track category._id ){

<div class="card cursor-pointer">
       <div>
           <img class="w-full h-72" [src]="category.image" [title]="category.name">
       </div>
        <div > <h3 class="text-base text-purple-600 pt-2 text-center ">{{category.name}}</h3>
</div>
</div>
}
  </div>
   </div>
</section>

